.git
.gitignore
.github
# Ignore subproject bin dirs but allow top-level bin for Dockerfile.local
**/bin/*
!bin/
!bin/**
tests/
Makefile
Dockerfile
Dockerfile.local
infra-operator/chart/*
!infra-operator/chart/crds/
!infra-operator/chart/crds/**
