openapi: 3.0.3
info:
  title: Sandbox0 API
  version: 0.1.0
  description: Public HTTP APIs exposed by Sandbox0 regional gateways and the global gateway.
servers:
  - url: https://api.sandbox0.ai
    description: Production
tags:
  - name: health
  - name: auth
  - name: tenant
  - name: users
  - name: teams
  - name: regions
  - name: api-keys
  - name: sandboxes
  - name: contexts
  - name: processes
  - name: observability
  - name: audit
  - name: files
  - name: templates
  - name: registry
  - name: sandbox-volumes
  - name: snapshots
  - name: sandbox-rootfs
paths:
  /healthz:
    get:
      tags: [health]
      summary: Health check
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessHealthResponse"
        "500":
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /readyz:
    get:
      tags: [health]
      summary: Readiness check
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessHealthResponse"
        "503":
          description: Not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /metrics:
    get:
      tags: [health]
      summary: Prometheus metrics
      responses:
        "200":
          description: Metrics payload
          content:
            text/plain:
              schema:
                type: string
  /metadata:
    get:
      tags: [health]
      summary: Gateway metadata
      responses:
        "200":
          description: Gateway metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessGatewayMetadataResponse"
  /auth/providers:
    get:
      tags: [auth]
      summary: Get available auth providers
      responses:
        "200":
          description: Providers list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAuthProvidersResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/login:
    post:
      tags: [auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/register:
    post:
      tags: [auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Registration disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/refresh:
    post:
      tags: [auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/login:
    get:
      tags: [auth]
      summary: Initiate OIDC login
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
        - name: return_url
          in: query
          schema:
            type: string
          required: false
        - name: web_login
          in: query
          schema:
            type: boolean
          required: false
          description: When true, the OIDC callback redirects to return_url with a short-lived login_code for server-side exchange.
      responses:
        "302":
          description: Redirect to OIDC provider
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/callback:
    get:
      tags: [auth]
      summary: OIDC callback
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Redirect to local CLI return_url with token query parameters, or to a web return_url with login_code when web_login was requested
        "200":
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: OIDC authorization failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/web-login/exchange:
    post:
      tags: [auth]
      summary: Exchange web login code
      description: Exchanges a short-lived, one-time browser login handoff code for Sandbox0 tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebLoginExchangeRequest"
      responses:
        "200":
          description: Login code exchanged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Invalid or expired login code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/device/start:
    post:
      tags: [auth]
      summary: Start OIDC device login
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
      responses:
        "200":
          description: Device login started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeviceLoginStartResponse"
        "404":
          description: Provider not found or device login unsupported
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/device/poll:
    post:
      tags: [auth]
      summary: Poll OIDC device login
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceLoginPollRequest"
      responses:
        "200":
          description: Device login is pending or completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeviceLoginPollResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Device login expired, declined, or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Provider or device login session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/logout:
    post:
      tags: [auth]
      summary: Logout
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
  /auth/change-password:
    post:
      tags: [auth]
      summary: Change password
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me:
    get:
      tags: [users]
      summary: Get current user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [users]
      summary: Update current user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/identities:
    get:
      tags: [users]
      summary: List current user identities
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Identities list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessIdentityListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/identities/{id}:
    delete:
      tags: [users]
      summary: Delete a user identity
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdentityID"
      responses:
        "200":
          description: Identity removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Identity not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/ssh-keys:
    get:
      tags: [users]
      summary: List current user SSH public keys
      security:
        - bearerAuth: []
      responses:
        "200":
          description: SSH public key list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSSHPublicKeyListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [users]
      summary: Create a current user SSH public key
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSSHPublicKeyRequest"
      responses:
        "201":
          description: Created SSH public key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSSHPublicKeyResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: SSH public key already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/ssh-keys/{id}:
    delete:
      tags: [users]
      summary: Delete a current user SSH public key
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: SSH public key removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: SSH public key not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams:
    get:
      tags: [teams]
      summary: List teams
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Team list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [teams]
      summary: Create a team
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeamRequest"
      responses:
        "201":
          description: Team created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /regions:
    get:
      tags: [regions]
      summary: List regions in the global gateway
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Region list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [regions]
      summary: Create a region in the global gateway
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRegionRequest"
      responses:
        "201":
          description: Region created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Region already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /regions/{id}:
    get:
      tags: [regions]
      summary: Get a region from the global gateway
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionId"
      responses:
        "200":
          description: Region
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Region not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [regions]
      summary: Update a region in the global gateway
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRegionRequest"
      responses:
        "200":
          description: Region updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Region not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [regions]
      summary: Delete a region from the global gateway
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionId"
      responses:
        "200":
          description: Region deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Region not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Team already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}:
    get:
      tags: [teams]
      summary: Get a team
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      responses:
        "200":
          description: Team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "403":
          description: Not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [teams]
      summary: Update a team
      description: Team home region is immutable after creation and cannot be changed through this endpoint.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamRequest"
      responses:
        "200":
          description: Team updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Team update conflicts with an immutable field or existing slug
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [teams]
      summary: Delete a team
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      responses:
        "200":
          description: Team deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Team has resources that must be removed before deletion
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamDeleteConflictResponse"
  /teams/{id}/owner:
    put:
      tags: [teams]
      summary: Transfer team ownership
      description: Transfers ownership to an existing team member and promotes the new owner to admin if needed.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferTeamOwnerRequest"
      responses:
        "200":
          description: Team owner transferred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Only the current owner can transfer ownership
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team or member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}/members:
    get:
      tags: [teams]
      summary: List team members
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Search by member email, display name, or user ID.
      responses:
        "200":
          description: Team members
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamMemberListResponse"
        "403":
          description: Not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [teams]
      summary: Add team member
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddTeamMemberRequest"
      responses:
        "201":
          description: Member added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamMemberResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Already a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}/members/{userId}:
    put:
      tags: [teams]
      summary: Update team member role
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
        - $ref: "#/components/parameters/UserID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamMemberRequest"
      responses:
        "200":
          description: Member updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid member role change
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [teams]
      summary: Remove team member
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
        - $ref: "#/components/parameters/UserID"
      responses:
        "200":
          description: Member removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid member removal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys:
    get:
      tags: [api-keys]
      summary: List API keys
      security:
        - bearerAuth: []
      responses:
        "200":
          description: API key list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAPIKeyListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [api-keys]
      summary: Create API key
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAPIKeyRequest"
      responses:
        "201":
          description: API key created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCreateAPIKeyResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Requested roles exceed caller permissions, or platform scope requires a system admin user session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys/current:
    get:
      tags: [api-keys]
      summary: Introspect current API key
      description: Returns the identity and permissions of the currently authenticated API key.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current API key details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCurrentAPIKeyResponse"
        "401":
          description: API key authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys/{id}:
    delete:
      tags: [api-keys]
      summary: Delete API key
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/APIKeyID"
      responses:
        "200":
          description: API key deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys/{id}/deactivate:
    post:
      tags: [api-keys]
      summary: Deactivate API key
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/APIKeyID"
      responses:
        "200":
          description: API key deactivated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes:
    get:
      tags: [sandboxes]
      summary: List sandboxes
      description: List all sandboxes for the authenticated team. In multi-cluster mode, this endpoint aggregates results from all enabled clusters.
      security:
        - bearerAuth: []
      x-upstream-service: scheduler
      x-upstream-path: /api/v1/sandboxes
      parameters:
        - name: status
          in: query
          description: Filter by sandbox status
          schema:
            $ref: "#/components/schemas/SandboxLifecycleStatus"
        - name: template_id
          in: query
          description: Filter by template ID
          schema:
            type: string
        - name: paused
          in: query
          description: Filter by paused state
          schema:
            type: boolean
        - name: limit
          in: query
          description: Maximum number of results per page
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: List of sandboxes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxListResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [sandboxes]
      summary: Create (claim) a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimRequest"
      responses:
        "201":
          description: Sandbox claimed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessClaimResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          description: Team quota exceeded or claim/start admission throttled
          headers:
            Retry-After:
              description: Suggested retry delay in seconds when claim/start admission is throttled
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Data plane temporarily unavailable
          headers:
            Retry-After:
              description: Suggested retry delay in seconds
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/quotas/{dimension}:
    get:
      tags: [quotas]
      summary: Get team quota
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/quotas/{dimension}
      parameters:
        - $ref: "#/components/parameters/QuotaDimension"
      responses:
        "200":
          description: Team quota
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamQuotaResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}:
    get:
      tags: [sandboxes]
      summary: Get sandbox by ID
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Update sandbox configuration
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxUpdateRequest"
      responses:
        "200":
          description: Sandbox updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [sandboxes]
      summary: Delete (terminate) a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox terminated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/status:
    get:
      tags: [sandboxes]
      summary: Get sandbox status
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/status
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxStatusResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/observability/events:
    get:
      tags: [observability]
      summary: Query historical sandbox observability events
      description: |
        Queries the asynchronous per-sandbox observability projection for lifecycle,
        network audit, and runtime stats events. This endpoint does not expose backend SQL
        and reads tables that are separate from the metering usage ledger.
      security:
        - bearerAuth: []
      x-upstream-service: cluster-gateway
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - name: start_time
          in: query
          description: Include events that occurred at or after this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: Include events that occurred at or before this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Maximum number of events to return. Values above 1000 are capped.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: cursor
          in: query
          description: Opaque pagination cursor returned by a previous response. When watch is true, this must be a watch resume cursor from an NDJSON watermark line.
          schema:
            type: string
        - name: watch
          in: query
          description: Stream matching records as application/x-ndjson in ingestion order until the client disconnects. When watch is true, end_time is not supported. Without cursor or start_time, streaming starts at request time.
          schema:
            type: boolean
            default: false
        - name: source
          in: query
          schema:
            $ref: "#/components/schemas/ObservabilityEventSource"
        - name: event_type
          in: query
          schema:
            $ref: "#/components/schemas/SandboxObservabilityEventType"
        - name: outcome
          in: query
          schema:
            $ref: "#/components/schemas/SandboxObservabilityOutcome"
      responses:
        "200":
          description: Historical sandbox observability events
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxObservabilityEventsResponse"
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/SandboxObservabilityWatchLine"
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Historical observability backend disabled or unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/observability/logs:
    get:
      tags: [observability]
      summary: Query historical sandbox logs
      description: |
        Queries the asynchronous per-sandbox log projection. This endpoint is for
        historical log lookup and is separate from live log streaming.
      security:
        - bearerAuth: []
      x-upstream-service: cluster-gateway
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - name: start_time
          in: query
          description: Include log entries that occurred at or after this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: Include log entries that occurred at or before this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Maximum number of log entries to return. Values above 1000 are capped.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: cursor
          in: query
          description: Opaque pagination cursor returned by a previous response. When watch is true, this must be a watch resume cursor from an NDJSON watermark line.
          schema:
            type: string
        - name: watch
          in: query
          description: Stream matching records as application/x-ndjson in ingestion order until the client disconnects. When watch is true, end_time is not supported. Without cursor or start_time, streaming starts at request time.
          schema:
            type: boolean
            default: false
        - name: context_id
          in: query
          description: Restrict results to a sandbox process context.
          schema:
            type: string
        - name: stream
          in: query
          schema:
            $ref: "#/components/schemas/SandboxObservabilityLogStream"
      responses:
        "200":
          description: Historical sandbox logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxObservabilityLogsResponse"
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/SandboxObservabilityWatchLine"
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Historical observability backend disabled or unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/observability/metrics:
    get:
      tags: [observability]
      summary: Query historical sandbox metric samples
      description: |
        Queries the asynchronous per-sandbox metric sample projection. This endpoint is
        separate from platform service metrics and metering usage truth.
      security:
        - bearerAuth: []
      x-upstream-service: cluster-gateway
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - name: start_time
          in: query
          description: Include samples that occurred at or after this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: Include samples that occurred at or before this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Maximum number of samples to return. Values above 1000 are capped.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: cursor
          in: query
          description: Opaque pagination cursor returned by a previous response. When watch is true, this must be a watch resume cursor from an NDJSON watermark line.
          schema:
            type: string
        - name: watch
          in: query
          description: Stream matching records as application/x-ndjson in ingestion order until the client disconnects. When watch is true, end_time is not supported. Without cursor or start_time, streaming starts at request time.
          schema:
            type: boolean
            default: false
        - name: context_id
          in: query
          description: Restrict results to a sandbox process context.
          schema:
            type: string
        - name: name
          in: query
          description: Metric name filter. This parameter may be repeated.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: names
          in: query
          description: Comma-separated metric name filter.
          schema:
            type: string
      responses:
        "200":
          description: Historical sandbox metric samples
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxObservabilityMetricsResponse"
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/SandboxObservabilityWatchLine"
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Historical observability backend disabled or unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/audit/events:
    get:
      tags: [audit]
      summary: Query historical sandbox audit events
      description: |
        Queries the audit-focused projection for a sandbox. Network audit events are
        included in scope; file audit is intentionally not included.
      security:
        - bearerAuth: []
      x-upstream-service: cluster-gateway
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - name: start_time
          in: query
          description: Include events that occurred at or after this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: Include events that occurred at or before this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Maximum number of events to return. Values above 1000 are capped.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: cursor
          in: query
          description: Opaque pagination cursor returned by a previous response. When watch is true, this must be a watch resume cursor from an NDJSON watermark line.
          schema:
            type: string
        - name: watch
          in: query
          description: Stream matching records as application/x-ndjson in ingestion order until the client disconnects. When watch is true, end_time is not supported. Without cursor or start_time, streaming starts at request time.
          schema:
            type: boolean
            default: false
        - name: source
          in: query
          schema:
            $ref: "#/components/schemas/ObservabilityEventSource"
        - name: event_type
          in: query
          schema:
            $ref: "#/components/schemas/SandboxObservabilityEventType"
        - name: outcome
          in: query
          schema:
            $ref: "#/components/schemas/SandboxObservabilityOutcome"
      responses:
        "200":
          description: Historical sandbox audit events
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxObservabilityEventsResponse"
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/SandboxObservabilityWatchLine"
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Historical observability backend disabled or unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/pause:
    post:
      tags: [sandboxes]
      summary: Pause a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/pause
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox paused
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessPauseSandboxResponse"
        "409":
          description: Sandbox lifecycle state conflicts with this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "504":
          description: Timed out waiting for the sandbox to pause
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Sandbox pause requires ctld
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/resume:
    post:
      tags: [sandboxes]
      summary: Resume a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/resume
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox resumed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResumeSandboxResponse"
        "409":
          description: Sandbox lifecycle state conflicts with this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          description: Resume would exceed active runtime quota
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "504":
          description: Timed out waiting for the sandbox to resume
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Sandbox resume is temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/snapshots:
    post:
      tags: [sandbox-rootfs]
      summary: Create sandbox rootfs snapshot
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/snapshots
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSandboxRootFSSnapshotRequest"
      responses:
        "201":
          description: Sandbox rootfs snapshot created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxRootFSSnapshotResponse"
        "409":
          description: Sandbox is not paused or rootfs state is unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    get:
      tags: [sandbox-rootfs]
      summary: List sandbox rootfs snapshots
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/snapshots
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox rootfs snapshot list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxRootFSSnapshotListResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/rootfs/restore:
    post:
      tags: [sandbox-rootfs]
      summary: Restore sandbox rootfs from snapshot
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/rootfs/restore
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreSandboxRootFSRequest"
      responses:
        "200":
          description: Sandbox rootfs restored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRestoreSandboxRootFSResponse"
        "409":
          description: Sandbox is not paused
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/fork:
    post:
      tags: [sandbox-rootfs]
      summary: Fork sandbox from paused rootfs
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/fork
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForkSandboxRequest"
      responses:
        "201":
          description: Sandbox forked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessForkSandboxResponse"
        "409":
          description: Source sandbox is not paused or rootfs state is unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandbox-rootfs-snapshots/{snapshot_id}:
    get:
      tags: [sandbox-rootfs]
      summary: Get sandbox rootfs snapshot
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandbox-rootfs-snapshots/{snapshot_id}
      parameters:
        - $ref: "#/components/parameters/RootFSSnapshotID"
      responses:
        "200":
          description: Sandbox rootfs snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxRootFSSnapshotResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [sandbox-rootfs]
      summary: Delete sandbox rootfs snapshot
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandbox-rootfs-snapshots/{snapshot_id}
      parameters:
        - $ref: "#/components/parameters/RootFSSnapshotID"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/refresh:
    post:
      tags: [sandboxes]
      summary: Refresh sandbox TTL
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/refresh
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxRefreshRequest"
      responses:
        "200":
          description: TTL refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRefreshResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/network:
    get:
      tags: [sandboxes]
      summary: Get sandbox network policy
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/network
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Network policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxNetworkPolicyResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Update sandbox network policy
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/network
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxNetworkPolicy"
      responses:
        "200":
          description: Network policy updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxNetworkPolicyResponse"
  /api/v1/sandboxes/{id}/services:
    get:
      tags: [sandboxes]
      summary: List sandbox services
      description: Lists sandbox services configured on the sandbox.
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/services
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox services
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxServicesResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Replace sandbox services
      description: Replaces the sandbox services used for public exposure.
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/services
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxServicesUpdateRequest"
      responses:
        "200":
          description: Sandbox services updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxServicesResponse"
        "400":
          description: Invalid sandbox services
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/contexts:
    post:
      tags: [contexts]
      summary: Create a context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContextRequest"
      responses:
        "201":
          description: Context created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
    get:
      tags: [contexts]
      summary: List contexts
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Context list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextListResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}:
    get:
      tags: [contexts]
      summary: Get context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
    delete:
      tags: [contexts]
      summary: Delete context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/restart:
    post:
      tags: [contexts]
      summary: Restart context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/restart
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context restarted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/input:
    post:
      tags: [contexts]
      summary: Send input to context
      description: Writes input to the context stdin exactly as provided. For REPL contexts, include a trailing newline to submit a line for execution.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/input
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextInputRequest"
      responses:
        "200":
          description: Input written
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessWrittenResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/exec:
    post:
      tags: [contexts]
      summary: Execute context input (sync)
      description: Sends input and blocks until the context completes or times out. For REPL contexts, the server appends a trailing newline when the input does not already end in \n or \r.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/exec
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextInputRequest"
      responses:
        "200":
          description: Execution completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextExecResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/resize:
    post:
      tags: [contexts]
      summary: Resize context PTY
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/resize
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeContextRequest"
      responses:
        "200":
          description: Resized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResizedResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/signal:
    post:
      tags: [contexts]
      summary: Send signal to context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/signal
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignalContextRequest"
      responses:
        "200":
          description: Signal sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSignaledResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/ws:
    get:
      tags: [contexts]
      summary: Context WebSocket (I/O)
      description: |
        Upgrades to WebSocket for streaming I/O.
        WebSocket input data is written to stdin exactly as provided; include "\n" when submitting a REPL line.
        Client messages (JSON):
        - { "type": "input", "data": "ls\n", "request_id": "req-1" }
        - { "type": "resize", "rows": 24, "cols": 80 }
        - { "type": "signal", "signal": "INT" }
        Server messages (JSON):
        - { "type": "output", "source": "stdout", "data": "hello\n" }
        - { "type": "done", "request_id": "req-1" }
        - { "type": "done", "exit_code": 0, "state": "stopped" }
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/ws
      x-websocket:
        inbound:
          $ref: "#/components/schemas/ContextWebSocketRequest"
        outbound:
          $ref: "#/components/schemas/ContextWebSocketResponse"
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "101":
          description: Switching Protocols
  /api/v1/sandboxes/{id}/processes:
    post:
      tags: [processes]
      summary: Create a process session
      description: Creates a broker-owned process session with declared protocol channels. Client disconnects from event subscriptions do not close child process descriptors.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/processes
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProcessSpec"
      responses:
        "201":
          description: Process session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessProcessSessionResponse"
    get:
      tags: [processes]
      summary: List process sessions
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/processes
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Process session list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessProcessSessionListResponse"
  /api/v1/sandboxes/{id}/processes/{process_id}:
    get:
      tags: [processes]
      summary: Get process session
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/processes/{process_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ProcessID"
      responses:
        "200":
          description: Process session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessProcessSessionResponse"
    delete:
      tags: [processes]
      summary: Delete process session
      description: Stops the process session, closes broker-owned channels, and removes it from procd.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/processes/{process_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ProcessID"
      responses:
        "200":
          description: Process session deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxes/{id}/processes/{process_id}/events:
    post:
      tags: [processes]
      summary: Send process input event
      description: Sends an idempotent input event to one process channel. event_id is required and repeated identical events return the original accepted event.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/processes/{process_id}/events
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ProcessID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProcessInputEvent"
      responses:
        "202":
          description: Process input event accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessProcessEventResponse"
        "409":
          description: Input backpressure or process state conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    get:
      tags: [processes]
      summary: Stream process events
      description: Streams replayed and live process events as Server-Sent Events. cursor is the last observed event seq; procd emits cursor_lost if the requested cursor is older than the retained log.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/processes/{process_id}/events
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ProcessID"
        - name: cursor
          in: query
          required: false
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        "200":
          description: Process event stream
          content:
            text/event-stream:
              schema:
                type: string
                description: SSE stream whose data field contains a ProcessEvent JSON object.
  /api/v1/sandboxes/{id}/processes/{process_id}/signal:
    post:
      tags: [processes]
      summary: Send signal to process session
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/processes/{process_id}/signal
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ProcessID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignalContextRequest"
      responses:
        "200":
          description: Signal sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSignaledResponse"
  /api/v1/sandboxes/{id}/processes/{process_id}/channels/{channel}/pty-size:
    put:
      tags: [processes]
      summary: Resize process PTY channel
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/processes/{process_id}/channels/{channel}/pty-size
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ProcessID"
        - $ref: "#/components/parameters/ProcessChannel"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeContextRequest"
      responses:
        "200":
          description: Resized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResizedResponse"
  /api/v1/sandboxes/{id}/files/move:
    post:
      tags: [files]
      summary: Move a file or directory
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/move
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveFileRequest"
      responses:
        "200":
          description: Moved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMovedResponse"
  /api/v1/sandboxes/{id}/files/watch:
    get:
      tags: [files]
      summary: File watch WebSocket
      description: |
        Upgrades to WebSocket for file watch events.
        Client messages:
        - { "action": "subscribe", "path": "/tmp", "recursive": false }
        - { "action": "unsubscribe", "watch_id": "watch-id" }
        Server messages:
        - { "type": "subscribed", "watch_id": "watch-id", "path": "/tmp" }
        - { "type": "event", "watch_id": "watch-id", "event": "write", "path": "/tmp/a.txt" }
        - { "type": "unsubscribed", "watch_id": "watch-id" }
        - { "type": "error", "error": "message" }
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/watch
      x-websocket:
        inbound:
          $ref: "#/components/schemas/FileWatchRequest"
        outbound:
          $ref: "#/components/schemas/FileWatchResponse"
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "101":
          description: Switching Protocols
  /api/v1/sandboxes/{id}/files:
    get:
      tags: [files]
      summary: Read file content
      description: |
        Use query params:
        - path=/tmp/a.txt: target file path
        When `Accept` or `Content-Type` is `application/json`, returns a base64 JSON payload.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FileContentResponse"
    post:
      tags: [files]
      summary: Write file or create directory
      description: Use `path` query param and `mkdir=true` to create directories, otherwise writes file content.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
        - $ref: "#/components/parameters/QueryMkdir"
        - $ref: "#/components/parameters/QueryRecursive"
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File written
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessWrittenResponse"
        "201":
          description: Directory created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCreatedResponse"
    delete:
      tags: [files]
      summary: Delete file or directory
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxes/{id}/files/stat:
    get:
      tags: [files]
      summary: Stat a file
      description: |
        Use query params:
        - path=/tmp/a.txt: target file path
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/stat
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: File metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFileStatResponse"
  /api/v1/sandboxes/{id}/files/list:
    get:
      tags: [files]
      summary: List directory entries
      description: |
        Use query params:
        - path=/tmp: target directory path
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/list
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: Directory entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFileListResponse"
  /api/v1/templates:
    get:
      tags: [templates]
      summary: List templates
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates
      responses:
        "200":
          description: Templates list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateListResponse"
    post:
      tags: [templates]
      summary: Create template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateCreateRequest"
      responses:
        "201":
          description: Template created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
  /api/v1/templates/{id}:
    get:
      tags: [templates]
      summary: Get template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      responses:
        "200":
          description: Template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [templates]
      summary: Update template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateUpdateRequest"
      responses:
        "200":
          description: Template updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
    delete:
      tags: [templates]
      summary: Delete template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      responses:
        "200":
          description: Template deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
  /api/v1/registry/credentials:
    post:
      tags: [registry]
      summary: Get registry credentials for uploads
      security:
        - bearerAuth: []
      x-upstream-service: regional-gateway
      x-upstream-path: /api/v1/registry/credentials
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegistryCredentialsRequest"
      responses:
        "200":
          description: Registry credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegistryCredentialsResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/credential-sources:
    get:
      tags: [credential-sources]
      summary: List credential sources
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources
      responses:
        "200":
          description: Credential sources
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCredentialSourceListResponse"
    post:
      tags: [credential-sources]
      summary: Create credential source
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialSourceWriteRequest"
      responses:
        "201":
          description: Credential source created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCredentialSourceResponse"
        "409":
          description: Credential source already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/credential-sources/{name}:
    get:
      tags: [credential-sources]
      summary: Get credential source
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources/{name}
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credential source
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCredentialSourceResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [credential-sources]
      summary: Update credential source
      description: Replace the secret material for an existing credential source. The resolver kind is immutable for a source name; create a new source when changing resolver kinds.
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources/{name}
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialSourceWriteRequest"
      responses:
        "200":
          description: Credential source updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCredentialSourceResponse"
        "400":
          description: Invalid credential source update
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Credential source not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [credential-sources]
      summary: Delete credential source
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources/{name}
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credential source deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
  /api/v1/sandboxvolumes:
    post:
      tags: [sandbox-volumes]
      summary: Create sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSandboxVolumeRequest"
      responses:
        "201":
          description: Volume created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeResponse"
    get:
      tags: [sandbox-volumes]
      summary: List sandbox volumes
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes
      responses:
        "200":
          description: Volume list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeListResponse"
  /api/v1/sandboxvolumes/{id}:
    get:
      tags: [sandbox-volumes]
      summary: Get sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      responses:
        "200":
          description: Volume
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [sandbox-volumes]
      summary: Delete sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - name: force
          in: query
          required: false
          description: Force delete even if volume has active mounts
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
        "409":
          description: Volume has active mounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/fork:
    post:
      tags: [sandbox-volumes]
      summary: Fork sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/fork
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForkVolumeRequest"
      responses:
        "201":
          description: Volume forked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/files/move:
    post:
      tags: [files]
      summary: Move a volume file or directory
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/files/move
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveFileRequest"
      responses:
        "200":
          description: Moved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMovedResponse"
  /api/v1/sandboxvolumes/{id}/files/watch:
    get:
      tags: [files]
      summary: Volume file watch WebSocket
      description: |
        Upgrades to WebSocket for volume file watch events.
        Client messages:
        - { "action": "subscribe", "path": "/tmp", "recursive": false }
        - { "action": "unsubscribe", "watch_id": "watch-id" }
        Server messages:
        - { "type": "subscribed", "watch_id": "watch-id", "path": "/tmp" }
        - { "type": "event", "watch_id": "watch-id", "event": "write", "path": "/tmp/a.txt" }
        - { "type": "unsubscribed", "watch_id": "watch-id" }
        - { "type": "error", "error": "message" }
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/files/watch
      x-websocket:
        inbound:
          $ref: "#/components/schemas/FileWatchRequest"
        outbound:
[...]
