openapi: 3.0.3
info:
  title: Sandbox0 API
  version: 0.1.0
  description: Public HTTP APIs exposed by Sandbox0 regional gateways and the global gateway.
servers:
  - url: https://api.sandbox0.ai
    description: Production
tags:
  - name: health
  - name: auth
  - name: tenant
  - name: users
  - name: teams
  - name: regions
  - name: api-keys
  - name: sandboxes
  - name: contexts
  - name: files
  - name: templates
  - name: registry
  - name: sandbox-volumes
  - name: snapshots
  - name: volume-sync
paths:
  /healthz:
    get:
      tags: [health]
      summary: Health check
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessHealthResponse"
        "500":
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /readyz:
    get:
      tags: [health]
      summary: Readiness check
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessHealthResponse"
        "503":
          description: Not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /metrics:
    get:
      tags: [health]
      summary: Prometheus metrics
      responses:
        "200":
          description: Metrics payload
          content:
            text/plain:
              schema:
                type: string
  /metadata:
    get:
      tags: [health]
      summary: Gateway metadata
      responses:
        "200":
          description: Gateway metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessGatewayMetadataResponse"
  /auth/providers:
    get:
      tags: [auth]
      summary: Get available auth providers
      responses:
        "200":
          description: Providers list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAuthProvidersResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/login:
    post:
      tags: [auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/register:
    post:
      tags: [auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Registration disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/refresh:
    post:
      tags: [auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/login:
    get:
      tags: [auth]
      summary: Initiate OIDC login
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
        - name: return_url
          in: query
          schema:
            type: string
          required: false
      responses:
        "302":
          description: Redirect to OIDC provider
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/callback:
    get:
      tags: [auth]
      summary: OIDC callback
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Redirect to local CLI return_url with token query parameters when return_url is localhost
        "200":
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: OIDC authorization failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/device/start:
    post:
      tags: [auth]
      summary: Start OIDC device login
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
      responses:
        "200":
          description: Device login started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeviceLoginStartResponse"
        "404":
          description: Provider not found or device login unsupported
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/device/poll:
    post:
      tags: [auth]
      summary: Poll OIDC device login
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceLoginPollRequest"
      responses:
        "200":
          description: Device login is pending or completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeviceLoginPollResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Device login expired, declined, or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Provider or device login session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/logout:
    post:
      tags: [auth]
      summary: Logout
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
  /auth/change-password:
    post:
      tags: [auth]
      summary: Change password
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me:
    get:
      tags: [users]
      summary: Get current user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [users]
      summary: Update current user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/identities:
    get:
      tags: [users]
      summary: List current user identities
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Identities list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessIdentityListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/identities/{id}:
    delete:
      tags: [users]
      summary: Delete a user identity
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdentityID"
      responses:
        "200":
          description: Identity removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Identity not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams:
    get:
      tags: [teams]
      summary: List teams
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Team list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [teams]
      summary: Create a team
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeamRequest"
      responses:
        "201":
          description: Team created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /regions:
    get:
      tags: [regions]
      summary: List regions in the global gateway
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Region list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [regions]
      summary: Create a region in the global gateway
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRegionRequest"
      responses:
        "201":
          description: Region created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Region already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /regions/{id}:
    get:
      tags: [regions]
      summary: Get a region from the global gateway
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionId"
      responses:
        "200":
          description: Region
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Region not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [regions]
      summary: Update a region in the global gateway
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRegionRequest"
      responses:
        "200":
          description: Region updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Region not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [regions]
      summary: Delete a region from the global gateway
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionId"
      responses:
        "200":
          description: Region deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Region not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Team already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}:
    get:
      tags: [teams]
      summary: Get a team
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      responses:
        "200":
          description: Team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "403":
          description: Not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [teams]
      summary: Update a team
      description: Team home region is immutable after creation and cannot be changed through this endpoint.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamRequest"
      responses:
        "200":
          description: Team updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Team update conflicts with an immutable field or existing slug
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [teams]
      summary: Delete a team
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      responses:
        "200":
          description: Team deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}/members:
    get:
      tags: [teams]
      summary: List team members
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      responses:
        "200":
          description: Team members
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamMemberListResponse"
        "403":
          description: Not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [teams]
      summary: Add team member
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddTeamMemberRequest"
      responses:
        "201":
          description: Member added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamMemberResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Already a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}/members/{userId}:
    put:
      tags: [teams]
      summary: Update team member role
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
        - $ref: "#/components/parameters/UserID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamMemberRequest"
      responses:
        "200":
          description: Member updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [teams]
      summary: Remove team member
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
        - $ref: "#/components/parameters/UserID"
      responses:
        "200":
          description: Member removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys:
    get:
      tags: [api-keys]
      summary: List API keys
      security:
        - bearerAuth: []
      responses:
        "200":
          description: API key list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAPIKeyListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [api-keys]
      summary: Create API key
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAPIKeyRequest"
      responses:
        "201":
          description: API key created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCreateAPIKeyResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys/{id}:
    delete:
      tags: [api-keys]
      summary: Delete API key
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/APIKeyID"
      responses:
        "200":
          description: API key deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys/{id}/deactivate:
    post:
      tags: [api-keys]
      summary: Deactivate API key
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/APIKeyID"
      responses:
        "200":
          description: API key deactivated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes:
    get:
      tags: [sandboxes]
      summary: List sandboxes
      description: List all sandboxes for the authenticated team. In multi-cluster mode, this endpoint aggregates results from all enabled clusters.
      security:
        - bearerAuth: []
      x-upstream-service: scheduler
      x-upstream-path: /api/v1/sandboxes
      parameters:
        - name: status
          in: query
          description: Filter by sandbox status
          schema:
            type: string
            enum: [starting, running, failed, completed]
        - name: template_id
          in: query
          description: Filter by template ID
          schema:
            type: string
        - name: paused
          in: query
          description: Filter by paused state
          schema:
            type: boolean
        - name: limit
          in: query
          description: Maximum number of results per page
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: List of sandboxes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxListResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [sandboxes]
      summary: Create (claim) a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimRequest"
      responses:
        "201":
          description: Sandbox claimed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessClaimResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}:
    get:
      tags: [sandboxes]
      summary: Get sandbox by ID
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Update sandbox configuration
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxUpdateRequest"
      responses:
        "200":
          description: Sandbox updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [sandboxes]
      summary: Delete (terminate) a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox terminated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/status:
    get:
      tags: [sandboxes]
      summary: Get sandbox status
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/status
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxStatusResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/pause:
    post:
      tags: [sandboxes]
      summary: Pause a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/pause
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "202":
          description: Pause request accepted; sandbox power state will converge asynchronously
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessPauseSandboxResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/resume:
    post:
      tags: [sandboxes]
      summary: Resume a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/resume
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "202":
          description: Resume request accepted; sandbox power state will converge asynchronously
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResumeSandboxResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/refresh:
    post:
      tags: [sandboxes]
      summary: Refresh sandbox TTL
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/refresh
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxRefreshRequest"
      responses:
        "200":
          description: TTL refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRefreshResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/network:
    get:
      tags: [sandboxes]
      summary: Get sandbox network policy
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/network
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Network policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxNetworkPolicyResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Update sandbox network policy
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/network
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxNetworkPolicy"
      responses:
        "200":
          description: Network policy updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxNetworkPolicyResponse"
  /api/v1/sandboxes/{id}/exposed-ports:
    get:
      tags: [sandboxes]
      summary: Get sandbox exposed ports
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/exposed-ports
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Exposed ports
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExposedPortsResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Update sandbox exposed ports
      description: |
        Replaces all exposed ports for the sandbox. Used to control which ports
        are publicly accessible via the exposure domain.
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/exposed-ports
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExposedPortsRequest"
      responses:
        "200":
          description: Exposed ports updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExposedPortsResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [sandboxes]
      summary: Clear all exposed ports
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/exposed-ports
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Exposed ports cleared
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExposedPortsResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/exposed-ports/{port}:
    delete:
      tags: [sandboxes]
      summary: Remove a specific exposed port
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/exposed-ports/{port}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - name: port
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Exposed port removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExposedPortsResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/contexts:
    post:
      tags: [contexts]
      summary: Create a context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContextRequest"
      responses:
        "201":
          description: Context created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
    get:
      tags: [contexts]
      summary: List contexts
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Context list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextListResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}:
    get:
      tags: [contexts]
      summary: Get context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
    delete:
      tags: [contexts]
      summary: Delete context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/restart:
    post:
      tags: [contexts]
      summary: Restart context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/restart
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context restarted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/input:
    post:
      tags: [contexts]
      summary: Send input to context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/input
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextInputRequest"
      responses:
        "200":
          description: Input written
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessWrittenResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/exec:
    post:
      tags: [contexts]
      summary: Execute context input (sync)
      description: Sends input and blocks until the context completes or times out.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/exec
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextInputRequest"
      responses:
        "200":
          description: Execution completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextExecResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/resize:
    post:
      tags: [contexts]
      summary: Resize context PTY
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/resize
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeContextRequest"
      responses:
        "200":
          description: Resized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResizedResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/signal:
    post:
      tags: [contexts]
      summary: Send signal to context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/signal
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignalContextRequest"
      responses:
        "200":
          description: Signal sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSignaledResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/stats:
    get:
      tags: [contexts]
      summary: Get context stats
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/stats
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextStatsResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/ws:
    get:
      tags: [contexts]
      summary: Context WebSocket (I/O)
      description: |
        Upgrades to WebSocket for streaming I/O.
        Client messages (JSON):
        - { "type": "input", "data": "ls\n", "request_id": "req-1" }
        - { "type": "resize", "rows": 24, "cols": 80 }
        - { "type": "signal", "signal": "INT" }
        Server messages (JSON):
        - { "type": "output", "source": "stdout", "data": "hello\n" }
        - { "type": "done", "request_id": "req-1" }
        - { "type": "done", "exit_code": 0, "state": "stopped" }
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/ws
      x-websocket:
        inbound:
          $ref: "#/components/schemas/ContextWebSocketRequest"
        outbound:
          $ref: "#/components/schemas/ContextWebSocketResponse"
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "101":
          description: Switching Protocols
  /api/v1/sandboxes/{id}/sandboxvolumes/mount:
    post:
      tags: [sandbox-volumes]
      summary: Mount sandbox volume in sandbox
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sandboxvolumes/mount
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MountRequest"
      responses:
        "200":
          description: Volume mounted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMountResponse"
  /api/v1/sandboxes/{id}/sandboxvolumes/unmount:
    post:
      tags: [sandbox-volumes]
      summary: Unmount sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sandboxvolumes/unmount
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnmountRequest"
      responses:
        "200":
          description: Volume unmounted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUnmountedResponse"
  /api/v1/sandboxes/{id}/sandboxvolumes/status:
    get:
      tags: [sandbox-volumes]
      summary: Get sandbox volume mount status
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sandboxvolumes/status
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Mount status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMountStatusResponse"
  /api/v1/sandboxes/{id}/files/move:
    post:
      tags: [files]
      summary: Move a file or directory
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/move
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveFileRequest"
      responses:
        "200":
          description: Moved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMovedResponse"
  /api/v1/sandboxes/{id}/files/watch:
    get:
      tags: [files]
      summary: File watch WebSocket
      description: |
        Upgrades to WebSocket for file watch events.
        Client messages:
        - { "action": "subscribe", "path": "/tmp", "recursive": false }
        - { "action": "unsubscribe", "watch_id": "watch-id" }
        Server messages:
        - { "type": "subscribed", "watch_id": "watch-id", "path": "/tmp" }
        - { "type": "event", "watch_id": "watch-id", "event": "write", "path": "/tmp/a.txt" }
        - { "type": "unsubscribed", "watch_id": "watch-id" }
        - { "type": "error", "error": "message" }
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/watch
      x-websocket:
        inbound:
          $ref: "#/components/schemas/FileWatchRequest"
        outbound:
          $ref: "#/components/schemas/FileWatchResponse"
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "101":
          description: Switching Protocols
  /api/v1/sandboxes/{id}/files:
    get:
      tags: [files]
      summary: Read file content
      description: |
        Use query params:
        - path=/tmp/a.txt: target file path
        When `Accept` or `Content-Type` is `application/json`, returns a base64 JSON payload.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FileContentResponse"
    post:
      tags: [files]
      summary: Write file or create directory
      description: Use `path` query param and `mkdir=true` to create directories, otherwise writes file content.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
        - $ref: "#/components/parameters/QueryMkdir"
        - $ref: "#/components/parameters/QueryRecursive"
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File written
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessWrittenResponse"
        "201":
          description: Directory created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCreatedResponse"
    delete:
      tags: [files]
      summary: Delete file or directory
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxes/{id}/files/stat:
    get:
      tags: [files]
      summary: Stat a file
      description: |
        Use query params:
        - path=/tmp/a.txt: target file path
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/stat
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: File metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFileStatResponse"
  /api/v1/sandboxes/{id}/files/list:
    get:
      tags: [files]
      summary: List directory entries
      description: |
        Use query params:
        - path=/tmp: target directory path
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/list
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: Directory entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFileListResponse"
  /api/v1/templates:
    get:
      tags: [templates]
      summary: List templates
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates
      responses:
        "200":
          description: Templates list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateListResponse"
    post:
      tags: [templates]
      summary: Create template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateCreateRequest"
      responses:
        "201":
          description: Template created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
  /api/v1/templates/{id}:
    get:
      tags: [templates]
      summary: Get template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      responses:
        "200":
          description: Template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [templates]
      summary: Update template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateUpdateRequest"
      responses:
        "200":
          description: Template updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
    delete:
      tags: [templates]
      summary: Delete template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      responses:
        "200":
          description: Template deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
  /api/v1/registry/credentials:
    post:
      tags: [registry]
      summary: Get registry credentials for uploads
      security:
        - bearerAuth: []
      x-upstream-service: regional-gateway
      x-upstream-path: /api/v1/registry/credentials
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegistryCredentialsRequest"
      responses:
        "200":
          description: Registry credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegistryCredentialsResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/credential-sources:
    get:
      tags: [credential-sources]
      summary: List credential sources
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources
      responses:
        "200":
          description: Credential sources
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCredentialSourceListResponse"
    post:
      tags: [credential-sources]
      summary: Create credential source
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialSourceWriteRequest"
      responses:
        "201":
          description: Credential source created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCredentialSourceResponse"
  /api/v1/credential-sources/{name}:
    get:
      tags: [credential-sources]
      summary: Get credential source
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources/{name}
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credential source
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCredentialSourceResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [credential-sources]
      summary: Update credential source
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources/{name}
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialSourceWriteRequest"
      responses:
        "200":
          description: Credential source updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCredentialSourceResponse"
    delete:
      tags: [credential-sources]
      summary: Delete credential source
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources/{name}
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credential source deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
  /api/v1/sandboxvolumes:
    post:
      tags: [sandbox-volumes]
      summary: Create sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSandboxVolumeRequest"
      responses:
        "201":
          description: Volume created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeResponse"
    get:
      tags: [sandbox-volumes]
      summary: List sandbox volumes
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes
      responses:
        "200":
          description: Volume list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeListResponse"
  /api/v1/sandboxvolumes/{id}:
    get:
      tags: [sandbox-volumes]
      summary: Get sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      responses:
        "200":
          description: Volume
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [sandbox-volumes]
      summary: Delete sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - name: force
          in: query
          required: false
          description: Force delete even if volume has active mounts
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
        "409":
          description: Volume has active mounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/fork:
    post:
      tags: [sandbox-volumes]
      summary: Fork sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/fork
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForkVolumeRequest"
      responses:
        "201":
          description: Volume forked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/files/move:
    post:
      tags: [files]
      summary: Move a volume file or directory
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/files/move
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveFileRequest"
      responses:
        "200":
          description: Moved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMovedResponse"
  /api/v1/sandboxvolumes/{id}/files/watch:
    get:
      tags: [files]
      summary: Volume file watch WebSocket
      description: |
        Upgrades to WebSocket for volume file watch events.
        Client messages:
        - { "action": "subscribe", "path": "/tmp", "recursive": false }
        - { "action": "unsubscribe", "watch_id": "watch-id" }
        Server messages:
        - { "type": "subscribed", "watch_id": "watch-id", "path": "/tmp" }
        - { "type": "event", "watch_id": "watch-id", "event": "write", "path": "/tmp/a.txt" }
        - { "type": "unsubscribed", "watch_id": "watch-id" }
        - { "type": "error", "error": "message" }
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/files/watch
      x-websocket:
        inbound:
          $ref: "#/components/schemas/FileWatchRequest"
        outbound:
          $ref: "#/components/schemas/FileWatchResponse"
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      responses:
        "101":
          description: Switching Protocols
  /api/v1/sandboxvolumes/{id}/files:
    get:
      tags: [files]
      summary: Read volume file content
      description: |
        Use query params:
        - path=/tmp/a.txt: target file path relative to the volume root
        When `Accept` or `Content-Type` is `application/json`, returns a base64 JSON payload.
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/files
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FileContentResponse"
    post:
      tags: [files]
      summary: Write volume file or create directory
      description: Use `path` query param and `mkdir=true` to create directories, otherwise writes file content.
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/files
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/FilePath"
        - $ref: "#/components/parameters/QueryMkdir"
        - $ref: "#/components/parameters/QueryRecursive"
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File written
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessWrittenResponse"
        "201":
          description: Directory created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCreatedResponse"
    delete:
      tags: [files]
      summary: Delete volume file or directory
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/files
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxvolumes/{id}/files/stat:
    get:
      tags: [files]
      summary: Stat a volume file
      description: |
        Use query params:
        - path=/tmp/a.txt: target file path relative to the volume root
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/files/stat
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: File metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFileStatResponse"
  /api/v1/sandboxvolumes/{id}/files/list:
    get:
      tags: [files]
      summary: List volume directory entries
      description: |
        Use query params:
        - path=/tmp: target directory path relative to the volume root
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/files/list
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: Directory entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFileListResponse"
  /api/v1/sandboxvolumes/{id}/snapshots:
    post:
      tags: [snapshots]
      summary: Create snapshot
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/snapshots
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSnapshotRequest"
      responses:
        "201":
          description: Snapshot created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSnapshotResponse"
    get:
      tags: [snapshots]
      summary: List snapshots
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/snapshots
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      responses:
        "200":
          description: Snapshot list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSnapshotListResponse"
  /api/v1/sandboxvolumes/{id}/snapshots/{snapshot_id}:
    get:
      tags: [snapshots]
      summary: Get snapshot
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/snapshots/{snapshot_id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/SnapshotID"
      responses:
        "200":
          description: Snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSnapshotResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [snapshots]
      summary: Delete snapshot
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/snapshots/{snapshot_id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/SnapshotID"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxvolumes/{id}/snapshots/{snapshot_id}/restore:
    post:
      tags: [snapshots]
      summary: Restore snapshot
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/snapshots/{snapshot_id}/restore
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/SnapshotID"
      responses:
        "200":
          description: Restored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRestoreResponse"
  /api/v1/sandboxvolumes/{id}/sync/replicas/{replica_id}:
    put:
      tags: [volume-sync]
      summary: Register or update a volume sync replica
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/sync/replicas/{replica_id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/ReplicaID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertSyncReplicaRequest"
      responses:
        "200":
          description: Replica state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVolumeSyncReplicaResponse"
    get:
      tags: [volume-sync]
      summary: Get a volume sync replica
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/sync/replicas/{replica_id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/ReplicaID"
      responses:
        "200":
          description: Replica state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVolumeSyncReplicaResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/sync/bootstrap:
    post:
      tags: [volume-sync]
      summary: Create a bootstrap snapshot and journal anchor for local-first sync
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/sync/bootstrap
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVolumeSyncBootstrapRequest"
      responses:
        "201":
          description: Bootstrap anchor created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVolumeSyncBootstrapResponse"
        "409":
          description: Snapshot bootstrap conflict such as incompatible path semantics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VolumeSyncBootstrapConflictErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/sync/bootstrap/archive:
    get:
      tags: [volume-sync]
      summary: Download a bootstrap snapshot archive for local-first sync
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/sync/bootstrap/archive
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - name: snapshot_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bootstrap snapshot archive
          content:
            application/gzip:
              schema:
                type: string
                format: binary
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/sync/changes:
    get:
      tags: [volume-sync]
      summary: List volume sync journal entries
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/sync/changes
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - name: after
          in: query
          required: false
          schema:
            type: integer
            format: int64
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 256
      responses:
        "200":
          description: Journal entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVolumeSyncChangeListResponse"
        "409":
          description: Journal history before `after` has been compacted and the replica must reseed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VolumeSyncReseedRequiredErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/sync/replay-payload:
    get:
      tags: [volume-sync]
      summary: Download a replay payload for one sync journal entry
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/sync/replay-payload
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - name: content_ref
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Replay payload bytes
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid replay payload reference
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Replay payload not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/sync/conflicts:
    get:
      tags: [volume-sync]
      summary: List volume sync conflicts
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/sync/conflicts
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 256
      responses:
        "200":
          description: Conflict list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVolumeSyncConflictListResponse"
  /api/v1/sandboxvolumes/{id}/sync/conflicts/{conflict_id}:
    put:
      tags: [volume-sync]
      summary: Resolve or ignore a volume sync conflict
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/sync/conflicts/{conflict_id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/ConflictID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResolveVolumeSyncConflictRequest"
      responses:
        "200":
          description: Updated conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVolumeSyncConflictResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/sync/replicas/{replica_id}/changes:
    post:
      tags: [volume-sync]
      summary: Append replica-originated sync journal entries
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/sync/replicas/{replica_id}/changes
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/ReplicaID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppendReplicaChangesRequest"
      responses:
        "200":
          description: Append result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVolumeSyncAppendResponse"
        "400":
          description: Invalid request body such as a missing request id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Cursor conflict, expired replica lease, reseed required, or request id collision
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/sync/replicas/{replica_id}/cursor:
    put:
      tags: [volume-sync]
      summary: Advance a volume sync replica cursor
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/sync/replicas/{replica_id}/cursor
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/ReplicaID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSyncReplicaCursorRequest"
      responses:
        "200":
          description: Replica state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVolumeSyncReplicaResponse"
        "409":
          description: Cursor conflict, expired replica lease, or reseed required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    SandboxID:
      name: id
      in: path
      required: true
      schema:
        type: string
    ContextID:
      name: ctx_id
      in: path
      required: true
      schema:
        type: string
    TemplateID:
      name: id
      in: path
      required: true
      schema:
        type: string
    TeamID:
      name: id
      in: path
      required: true
      schema:
        type: string
    RegionId:
      name: id
      in: path
      required: true
      schema:
        type: string
    UserID:
      name: userId
      in: path
      required: true
      schema:
        type: string
    APIKeyID:
      name: id
      in: path
      required: true
      schema:
        type: string
    IdentityID:
      name: id
      in: path
      required: true
      schema:
        type: string
    SandboxVolumeID:
      name: id
      in: path
      required: true
      schema:
        type: string
    SnapshotID:
      name: snapshot_id
      in: path
      required: true
      schema:
        type: string
    ReplicaID:
      name: replica_id
      in: path
      required: true
      schema:
        type: string
    ConflictID:
      name: conflict_id
      in: path
      required: true
      schema:
        type: string
    OIDCProvider:
      name: provider
      in: path
      required: true
      schema:
        type: string
    FilePath:
      name: path
      in: query
      required: true
      schema:
        type: string
    QueryMkdir:
      name: mkdir
      in: query
      required: false
      schema:
        type: boolean
    QueryRecursive:
      name: recursive
      in: query
      required: false
      schema:
        type: boolean
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details: {}
      required: [code, message]
    ErrorEnvelope:
      type: object
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          $ref: "#/components/schemas/Error"
      required: [success, error]
    SuccessEnvelope:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data: {}
      required: [success]
    SuccessHealthResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                timestamp:
                  type: integer
                  format: int64
    GatewayMetadata:
      type: object
      properties:
        gateway_mode:
          type: string
          enum: [direct, global]
        service:
          type: string
      required: [gateway_mode, service]
    SuccessGatewayMetadataResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/GatewayMetadata"
    SuccessMessageResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                message:
                  type: string
    SuccessRegistryCredentialsResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/RegistryCredentials"
    SuccessCredentialSourceResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/CredentialSourceMetadata"
    SuccessCredentialSourceListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/CredentialSourceMetadata"
    RegistryCredentials:
      type: object
      properties:
        provider:
          type: string
        pushRegistry:
          type: string
        pullRegistry:
          type: string
        username:
          type: string
        password:
          type: string
        expiresAt:
          type: string
          format: date-time
      required: [provider, pushRegistry, pullRegistry, username, password]
    RegistryCredentialsRequest:
      type: object
      properties:
        targetImage:
          type: string
          description: Target image name and tag requested for push, without credentials.
    SuccessDeletedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                deleted:
                  type: boolean
    SuccessCreatedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                created:
                  type: boolean
    SuccessWrittenResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                written:
                  type: boolean
    SuccessMovedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                moved:
                  type: boolean
    SuccessResizedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                resized:
                  type: boolean
    SuccessSignaledResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                signaled:
                  type: boolean
    SuccessUnmountedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                unmounted:
                  type: boolean
    AuthProvider:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        external_auth_portal_url:
          type: string
          description: >
            When set, browser login for this provider should redirect to this external URL
            instead of initiating the OIDC flow directly. Used for deployments that host
            their own authorization portal.
        browser_login_enabled:
          type: boolean
        device_login_enabled:
          type: boolean
      required: [id, name, type, browser_login_enabled, device_login_enabled]
    SuccessAuthProvidersResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                providers:
                  type: array
                  items:
                    $ref: "#/components/schemas/AuthProvider"
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required: [email, password]
    RegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        name:
          type: string
        home_region_id:
          type: string
          nullable: true
          description: Required in global-gateway mode because registration creates the user's initial team.
      required: [email, password, name]
    RefreshRequest:
      type: object
      properties:
        refresh_token:
          type: string
      required: [refresh_token]
    ChangePasswordRequest:
      type: object
      properties:
        old_password:
          type: string
        new_password:
          type: string
          minLength: 8
      required: [old_password, new_password]
    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_at:
          type: integer
          format: int64
        user:
          $ref: "#/components/schemas/User"
      required: [access_token, refresh_token, expires_at, user]
    SuccessLoginResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/LoginResponse"
    DeviceLoginStartResponse:
      type: object
      properties:
        device_login_id:
          type: string
        user_code:
          type: string
        verification_uri:
          type: string
        verification_uri_complete:
          type: string
        expires_at:
          type: integer
          format: int64
        interval_seconds:
          type: integer
      required: [device_login_id, user_code, verification_uri, expires_at, interval_seconds]
    SuccessDeviceLoginStartResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/DeviceLoginStartResponse"
    DeviceLoginPollRequest:
      type: object
      properties:
        device_login_id:
          type: string
      required: [device_login_id]
    DeviceLoginPollResponse:
      type: object
      properties:
        status:
          type: string
          enum: [pending, slow_down, completed]
        interval_seconds:
          type: integer
        expires_at:
          type: integer
          format: int64
        login:
          $ref: "#/components/schemas/LoginResponse"
      required: [status]
    SuccessDeviceLoginPollResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/DeviceLoginPollResponse"
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        avatar_url:
          type: string
          nullable: true
        email_verified:
          type: boolean
        is_admin:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - email
        - name
        - email_verified
        - is_admin
        - created_at
        - updated_at
    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        avatar_url:
          type: string
    SuccessUserResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/User"
    Identity:
      type: object
      properties:
        id:
          type: string
        provider:
          type: string
        created_at:
          type: integer
          format: int64
      required: [id, provider, created_at]
    SuccessIdentityListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                identities:
                  type: array
                  items:
                    $ref: "#/components/schemas/Identity"
    Team:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        owner_id:
          type: string
          nullable: true
        home_region_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, name, slug, created_at, updated_at]
    Region:
      type: object
      properties:
        id:
          type: string
        display_name:
          type: string
        regional_gateway_url:
          type: string
        metering_export_url:
          type: string
          nullable: true
        enabled:
          type: boolean
      required: [id, regional_gateway_url, enabled]
    CreateRegionRequest:
      type: object
      properties:
        id:
          type: string
        display_name:
          type: string
        regional_gateway_url:
          type: string
        metering_export_url:
          type: string
          nullable: true
        enabled:
          type: boolean
      required: [id, regional_gateway_url]
    UpdateRegionRequest:
      type: object
      properties:
        display_name:
          type: string
        regional_gateway_url:
          type: string
        metering_export_url:
          type: string
          nullable: true
        enabled:
[...]
