openapi: 3.0.3
info:
  title: Sandbox0 API
  version: 0.1.0
  description: Public HTTP APIs exposed by Sandbox0 regional gateways and the global gateway.
servers:
  - url: https://api.sandbox0.ai
    description: Production
tags:
  - name: health
  - name: auth
  - name: tenant
  - name: users
  - name: teams
  - name: regions
  - name: api-keys
  - name: sandboxes
  - name: contexts
  - name: observability
  - name: files
  - name: templates
  - name: registry
  - name: sandbox-volumes
  - name: snapshots
  - name: sandbox-rootfs
paths:
  /healthz:
    get:
      tags: [health]
      summary: Health check
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessHealthResponse"
        "500":
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /readyz:
    get:
      tags: [health]
      summary: Readiness check
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessHealthResponse"
        "503":
          description: Not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /metrics:
    get:
      tags: [health]
      summary: Prometheus metrics
      responses:
        "200":
          description: Metrics payload
          content:
            text/plain:
              schema:
                type: string
  /metadata:
    get:
      tags: [health]
      summary: Gateway metadata
      responses:
        "200":
          description: Gateway metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessGatewayMetadataResponse"
  /auth/providers:
    get:
      tags: [auth]
      summary: Get available auth providers
      responses:
        "200":
          description: Providers list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAuthProvidersResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/login:
    post:
      tags: [auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/register:
    post:
      tags: [auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Registration disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/refresh:
    post:
      tags: [auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/login:
    get:
      tags: [auth]
      summary: Initiate OIDC login
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
        - name: return_url
          in: query
          schema:
            type: string
          required: false
        - name: web_login
          in: query
          schema:
            type: boolean
          required: false
          description: When true, the OIDC callback redirects to return_url with a short-lived login_code for server-side exchange.
      responses:
        "302":
          description: Redirect to OIDC provider
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/callback:
    get:
      tags: [auth]
      summary: OIDC callback
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Redirect to local CLI return_url with token query parameters, or to a web return_url with login_code when web_login was requested
        "200":
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: OIDC authorization failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/web-login/exchange:
    post:
      tags: [auth]
      summary: Exchange web login code
      description: Exchanges a short-lived, one-time browser login handoff code for Sandbox0 tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebLoginExchangeRequest"
      responses:
        "200":
          description: Login code exchanged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Invalid or expired login code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/device/start:
    post:
      tags: [auth]
      summary: Start OIDC device login
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
      responses:
        "200":
          description: Device login started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeviceLoginStartResponse"
        "404":
          description: Provider not found or device login unsupported
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/device/poll:
    post:
      tags: [auth]
      summary: Poll OIDC device login
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceLoginPollRequest"
      responses:
        "200":
          description: Device login is pending or completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeviceLoginPollResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Device login expired, declined, or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Provider or device login session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/logout:
    post:
      tags: [auth]
      summary: Logout
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
  /auth/change-password:
    post:
      tags: [auth]
      summary: Change password
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me:
    get:
      tags: [users]
      summary: Get current user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [users]
      summary: Update current user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/identities:
    get:
      tags: [users]
      summary: List current user identities
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Identities list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessIdentityListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/identities/{id}:
    delete:
      tags: [users]
      summary: Delete a user identity
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdentityID"
      responses:
        "200":
          description: Identity removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Identity not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/ssh-keys:
    get:
      tags: [users]
      summary: List current user SSH public keys
      security:
        - bearerAuth: []
      responses:
        "200":
          description: SSH public key list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSSHPublicKeyListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [users]
      summary: Create a current user SSH public key
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSSHPublicKeyRequest"
      responses:
        "201":
          description: Created SSH public key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSSHPublicKeyResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: SSH public key already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/ssh-keys/{id}:
    delete:
      tags: [users]
      summary: Delete a current user SSH public key
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: SSH public key removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: SSH public key not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams:
    get:
      tags: [teams]
      summary: List teams
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Team list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [teams]
      summary: Create a team
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeamRequest"
      responses:
        "201":
          description: Team created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /regions:
    get:
      tags: [regions]
      summary: List regions in the global gateway
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Region list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [regions]
      summary: Create a region in the global gateway
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRegionRequest"
      responses:
        "201":
          description: Region created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Region already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /regions/{id}:
    get:
      tags: [regions]
      summary: Get a region from the global gateway
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionId"
      responses:
        "200":
          description: Region
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Region not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [regions]
      summary: Update a region in the global gateway
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRegionRequest"
      responses:
        "200":
          description: Region updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegionResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Region not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [regions]
      summary: Delete a region from the global gateway
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionId"
      responses:
        "200":
          description: Region deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: System admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Region not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Team already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}:
    get:
      tags: [teams]
      summary: Get a team
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      responses:
        "200":
          description: Team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "403":
          description: Not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [teams]
      summary: Update a team
      description: Team home region is immutable after creation and cannot be changed through this endpoint.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamRequest"
      responses:
        "200":
          description: Team updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Team update conflicts with an immutable field or existing slug
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [teams]
      summary: Delete a team
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      responses:
        "200":
          description: Team deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Team has resources that must be removed before deletion
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamDeleteConflictResponse"
  /teams/{id}/owner:
    put:
      tags: [teams]
      summary: Transfer team ownership
      description: Transfers ownership to an existing team member and promotes the new owner to admin if needed.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferTeamOwnerRequest"
      responses:
        "200":
          description: Team owner transferred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Only the current owner can transfer ownership
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team or member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}/members:
    get:
      tags: [teams]
      summary: List team members
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Search by member email, display name, or user ID.
      responses:
        "200":
          description: Team members
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamMemberListResponse"
        "403":
          description: Not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [teams]
      summary: Add team member
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddTeamMemberRequest"
      responses:
        "201":
          description: Member added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamMemberResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Already a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}/members/{userId}:
    put:
      tags: [teams]
      summary: Update team member role
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
        - $ref: "#/components/parameters/UserID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamMemberRequest"
      responses:
        "200":
          description: Member updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid member role change
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [teams]
      summary: Remove team member
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
        - $ref: "#/components/parameters/UserID"
      responses:
        "200":
          description: Member removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid member removal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys:
    get:
      tags: [api-keys]
      summary: List API keys
      security:
        - bearerAuth: []
      responses:
        "200":
          description: API key list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAPIKeyListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [api-keys]
      summary: Create API key
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAPIKeyRequest"
      responses:
        "201":
          description: API key created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCreateAPIKeyResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Requested roles exceed caller permissions, or platform scope requires a system admin user session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys/current:
    get:
      tags: [api-keys]
      summary: Introspect current API key
      description: Returns the identity and permissions of the currently authenticated API key.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current API key details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCurrentAPIKeyResponse"
        "401":
          description: API key authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys/{id}:
    delete:
      tags: [api-keys]
      summary: Delete API key
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/APIKeyID"
      responses:
        "200":
          description: API key deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys/{id}/deactivate:
    post:
      tags: [api-keys]
      summary: Deactivate API key
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/APIKeyID"
      responses:
        "200":
          description: API key deactivated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes:
    get:
      tags: [sandboxes]
      summary: List sandboxes
      description: List all sandboxes for the authenticated team. In multi-cluster mode, this endpoint aggregates results from all enabled clusters.
      security:
        - bearerAuth: []
      x-upstream-service: scheduler
      x-upstream-path: /api/v1/sandboxes
      parameters:
        - name: status
          in: query
          description: Filter by sandbox status
          schema:
            $ref: "#/components/schemas/SandboxLifecycleStatus"
        - name: template_id
          in: query
          description: Filter by template ID
          schema:
            type: string
        - name: paused
          in: query
          description: Filter by paused state
          schema:
            type: boolean
        - name: limit
          in: query
          description: Maximum number of results per page
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: List of sandboxes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxListResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [sandboxes]
      summary: Create (claim) a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimRequest"
      responses:
        "201":
          description: Sandbox claimed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessClaimResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          description: Team quota exceeded or claim/start admission throttled
          headers:
            Retry-After:
              description: Suggested retry delay in seconds when claim/start admission is throttled
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Data plane temporarily unavailable
          headers:
            Retry-After:
              description: Suggested retry delay in seconds
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/quotas/{dimension}:
    get:
      tags: [quotas]
      summary: Get team quota
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/quotas/{dimension}
      parameters:
        - $ref: "#/components/parameters/QuotaDimension"
      responses:
        "200":
          description: Team quota
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamQuotaResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}:
    get:
      tags: [sandboxes]
      summary: Get sandbox by ID
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Update sandbox configuration
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxUpdateRequest"
      responses:
        "200":
          description: Sandbox updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [sandboxes]
      summary: Delete (terminate) a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox terminated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/status:
    get:
      tags: [sandboxes]
      summary: Get sandbox status
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/status
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxStatusResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/observability/events:
    get:
      tags: [observability]
      summary: Query canonical signed sandbox observability events
      description: |
        Queries canonical signed per-sandbox audit facts from ClickHouse. Every returned
        event includes an inline signature verification status, while event-ID payload
        conflicts are reported independently. Access requires the enterprise sandbox_audit
        feature and the sandboxaudit:read permission.
      x-enterprise-feature: sandbox_audit
      x-required-permission: sandboxaudit:read
      security:
        - bearerAuth: []
      x-upstream-service: cluster-gateway
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - name: start_time
          in: query
          description: Include events that occurred at or after this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: Include events that occurred at or before this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Maximum number of events to return. Values above 1000 are capped. Exact event_id mode ignores this value and returns at most two payload variants.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: cursor
          in: query
          description: Opaque pagination cursor returned by a previous response. When watch is true, this must be a watch resume cursor from an NDJSON watermark line.
          schema:
            type: string
        - name: watch
          in: query
          description: Stream matching records as application/x-ndjson in ingestion order until the client disconnects. When watch is true, end_time is not supported. Without cursor or start_time, streaming starts at request time.
          schema:
            type: boolean
            default: false
        - name: max_schema_version
          in: query
          description: |
            Highest audit-event schema the client can decode. The default is 2
            so clients generated before execution-scope support never receive
            schema v3. Values newer than this server supports are capped to its
            current schema. Omitting this parameter while using any
            execution_scope filter implicitly negotiates schema v3; explicitly
            requesting schema v2 with such a filter is invalid.
          schema:
            type: integer
            minimum: 2
            default: 2
        - name: source
          in: query
          schema:
            $ref: "#/components/schemas/ObservabilityEventSource"
        - name: event_type
          in: query
          schema:
            $ref: "#/components/schemas/SandboxObservabilityEventType"
        - name: outcome
          in: query
          schema:
            $ref: "#/components/schemas/SandboxObservabilityOutcome"
        - name: actor_kind
          in: query
          schema:
            $ref: "#/components/schemas/SandboxAuditActorKind"
        - name: actor_id
          in: query
          schema:
            type: string
        - name: execution_scope_namespace
          in: query
          description: Restrict results to an exact execution-scope namespace such as codex.
          schema:
            type: string
            minLength: 1
            maxLength: 64
        - name: execution_scope_kind
          in: query
          description: Restrict results to an exact execution-scope kind such as native_session.
          schema:
            type: string
            minLength: 1
            maxLength: 64
        - name: execution_scope_id
          in: query
          description: Restrict results to an exact native execution-scope identifier.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - name: execution_scope_attribution
          in: query
          description: Restrict results to the runtime signal used to attribute the execution scope.
          schema:
            $ref: "#/components/schemas/SandboxAuditExecutionScopeAttribution"
        - name: action
          in: query
          schema:
            type: string
        - name: resource_type
          in: query
          schema:
            type: string
        - name: operation_id
          in: query
          schema:
            type: string
        - name: event_id
          in: query
          description: Exact lookup mode for one stable audit event ID. It cannot be combined with time, cursor, watch, or other event filters and returns one canonical row or two conflicting payload variants.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Canonical signed sandbox observability events
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxObservabilityEventsResponse"
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/SandboxObservabilityWatchLine"
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden or sandbox_audit is not licensed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Sandbox observability backend disabled or unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/observability/logs:
    get:
      tags: [observability]
      summary: Query historical sandbox logs
      description: |
        Queries the asynchronous per-sandbox log projection. This endpoint is for
        historical log lookup and is separate from live log streaming.
      security:
        - bearerAuth: []
      x-upstream-service: cluster-gateway
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - name: start_time
          in: query
          description: Include log entries that occurred at or after this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: Include log entries that occurred at or before this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Maximum number of log entries to return. Values above 1000 are capped.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: cursor
          in: query
          description: Opaque pagination cursor returned by a previous response. When watch is true, this must be a watch resume cursor from an NDJSON watermark line.
          schema:
            type: string
        - name: watch
          in: query
          description: Stream matching records as application/x-ndjson in ingestion order until the client disconnects. When watch is true, end_time is not supported. Without cursor or start_time, streaming starts at request time.
          schema:
            type: boolean
            default: false
        - name: context_id
          in: query
          description: Restrict results to a sandbox process context.
          schema:
            type: string
        - name: stream
          in: query
          schema:
            $ref: "#/components/schemas/SandboxObservabilityLogStream"
      responses:
        "200":
          description: Historical sandbox logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxObservabilityLogsResponse"
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/SandboxObservabilityWatchLine"
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Historical observability backend disabled or unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/metrics:
    get:
      operationId: getSandboxRuntimeMetrics
      tags: [observability]
      summary: Query chart-ready sandbox runtime metrics
      description: |
        Returns bounded, downsampled sandbox-wide runtime series. When timestamps are
        omitted, the query covers the hour ending now. The maximum range is 30 days.
        Counter rates never cross a runtime reset boundary. Missing data is reported
        as gaps and is never synthesized as zero. This endpoint is separate from
        platform service metrics and metering usage truth.
      security:
        - bearerAuth: []
      x-upstream-service: cluster-gateway
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - name: start_time
          in: query
          description: Query observations at or after this RFC3339 timestamp. Defaults to one hour before end_time.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: Query observations at or before this RFC3339 timestamp. Defaults to the current time.
          schema:
            type: string
            format: date-time
        - name: metrics
          in: query
          description: Comma-separated canonical metric names. Defaults to CPU utilization, memory utilization, and network I/O.
          schema:
            type: string
        - name: step_seconds
          in: query
          description: Requested bucket width in seconds. The effective step is at least 15 seconds and may be increased to honor max_points.
          schema:
            type: integer
            minimum: 1
            maximum: 86400
        - name: statistic
          in: query
          description: Aggregation applied within each output bucket. Auto uses average for gauges and rate for counters.
          schema:
            $ref: "#/components/schemas/SandboxRuntimeMetricStatistic"
        - name: max_points
          in: query
          description: Maximum points per returned series. The server may increase step_seconds to honor this bound.
          schema:
            type: integer
            default: 240
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: Chart-ready sandbox runtime metric series
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxRuntimeMetricsResponse"
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Historical observability backend disabled or unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/metrics/catalog:
    get:
      operationId: getSandboxRuntimeMetricsCatalog
      tags: [observability]
      summary: Get the sandbox runtime metric catalog
      description: Returns the bounded canonical metric names, kinds, units, and dimensions supported by the runtime metrics API.
      security:
        - bearerAuth: []
      x-upstream-service: cluster-gateway
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox runtime metric catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxRuntimeMetricsCatalogResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/pause:
    post:
      tags: [sandboxes]
      summary: Pause a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/pause
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox paused
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessPauseSandboxResponse"
        "409":
          description: Sandbox lifecycle state conflicts with this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "504":
          description: Timed out waiting for the sandbox to pause
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Sandbox pause requires ctld
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/resume:
    post:
      tags: [sandboxes]
      summary: Resume a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/resume
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox resumed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResumeSandboxResponse"
        "409":
          description: Sandbox lifecycle state conflicts with this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          description: Resume would exceed active runtime quota
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "504":
          description: Timed out waiting for the sandbox to resume
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Sandbox resume is temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/snapshots:
    post:
      tags: [sandbox-rootfs]
      summary: Create sandbox rootfs snapshot
      description: |
        Creates an immutable snapshot record from the source sandbox writable
        rootfs. A paused source is snapshotted from its current rootfs head. A
        running source is briefly barriered and checkpointed first; the source
        sandbox remains running after the snapshot operation completes.
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/snapshots
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSandboxRootFSSnapshotRequest"
      responses:
        "201":
          description: Sandbox rootfs snapshot created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxRootFSSnapshotResponse"
        "409":
          description: Source sandbox is not running or paused, another lifecycle operation is active, or rootfs state is unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Running-source snapshot requires ctld checkpoint support
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    get:
      tags: [sandbox-rootfs]
      summary: List sandbox rootfs snapshots
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/snapshots
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox rootfs snapshot list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxRootFSSnapshotListResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/rootfs/restore:
    post:
      tags: [sandbox-rootfs]
      summary: Restore sandbox rootfs from snapshot
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/rootfs/restore
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreSandboxRootFSRequest"
      responses:
        "200":
          description: Sandbox rootfs restored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRestoreSandboxRootFSResponse"
        "409":
          description: Sandbox is not paused
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/fork:
    post:
      tags: [sandbox-rootfs]
      summary: Fork sandbox rootfs
      description: |
        Forks the source sandbox writable rootfs into a new paused sandbox. A paused
        source is forked from its current rootfs head. A running source is briefly
        barriered and checkpointed first; the source sandbox remains running after
        the fork operation completes.
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/fork
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForkSandboxRequest"
      responses:
        "201":
          description: Sandbox forked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessForkSandboxResponse"
        "409":
          description: Source sandbox is not running or paused, another lifecycle operation is active, or rootfs state is unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Running-source fork requires ctld checkpoint support
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandbox-rootfs-snapshots/{snapshot_id}:
    get:
      tags: [sandbox-rootfs]
      summary: Get sandbox rootfs snapshot
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandbox-rootfs-snapshots/{snapshot_id}
      parameters:
        - $ref: "#/components/parameters/RootFSSnapshotID"
      responses:
        "200":
          description: Sandbox rootfs snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxRootFSSnapshotResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [sandbox-rootfs]
      summary: Delete sandbox rootfs snapshot
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandbox-rootfs-snapshots/{snapshot_id}
      parameters:
        - $ref: "#/components/parameters/RootFSSnapshotID"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/refresh:
    post:
      tags: [sandboxes]
      summary: Refresh sandbox TTL
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/refresh
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxRefreshRequest"
      responses:
        "200":
          description: TTL refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRefreshResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/network:
    get:
      tags: [sandboxes]
      summary: Get sandbox network policy
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/network
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Network policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxNetworkPolicyResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Update sandbox network policy
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/network
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxNetworkPolicy"
      responses:
        "200":
          description: Network policy updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxNetworkPolicyResponse"
  /api/v1/sandboxes/{id}/services:
    get:
      tags: [sandboxes]
      summary: List sandbox services
      description: Lists sandbox services configured on the sandbox.
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/services
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox services
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxServicesResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Replace sandbox services
      description: Replaces the sandbox services used for public exposure.
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/services
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxServicesUpdateRequest"
      responses:
        "200":
          description: Sandbox services updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxServicesResponse"
        "400":
          description: Invalid sandbox services
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/contexts:
    post:
      tags: [contexts]
      summary: Create a context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContextRequest"
      responses:
        "201":
          description: Context created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
    get:
      tags: [contexts]
      summary: List contexts
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Context list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextListResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}:
    get:
      tags: [contexts]
      summary: Get context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
    delete:
      tags: [contexts]
      summary: Delete context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/restart:
    post:
      tags: [contexts]
      summary: Restart context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/restart
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context restarted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/input:
    post:
      tags: [contexts]
      summary: Send input to context
      description: Writes input to the context stdin exactly as provided. For REPL contexts, include a trailing newline to submit a line for execution.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/input
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextInputRequest"
      responses:
        "200":
          description: Input written
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessWrittenResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/exec:
    post:
      tags: [contexts]
      summary: Execute context input (sync)
      description: Sends input and blocks until the context completes or times out. For REPL contexts, the server appends a trailing newline when the input does not already end in \n or \r.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/exec
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextInputRequest"
      responses:
        "200":
          description: Execution completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextExecResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/resize:
    post:
      tags: [contexts]
      summary: Resize context PTY
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/resize
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeContextRequest"
      responses:
        "200":
          description: Resized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResizedResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/signal:
    post:
      tags: [contexts]
      summary: Send signal to context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/signal
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignalContextRequest"
      responses:
        "200":
          description: Signal sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSignaledResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/ws:
    get:
      tags: [contexts]
      summary: Context WebSocket (I/O)
      description: |
        Upgrades to WebSocket for streaming I/O.
        WebSocket input data is written to stdin exactly as provided; include "\n" when submitting a REPL line.
        Client messages (JSON):
        - { "type": "input", "data": "ls\n", "request_id": "req-1" }
        - { "type": "resize", "rows": 24, "cols": 80 }
        - { "type": "signal", "signal": "INT" }
        Server messages (JSON):
        - { "type": "output", "source": "stdout", "data": "hello\n" }
        - { "type": "done", "request_id": "req-1" }
        - { "type": "done", "exit_code": 0, "state": "stopped" }
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/ws
      x-websocket:
        inbound:
          $ref: "#/components/schemas/ContextWebSocketRequest"
        outbound:
          $ref: "#/components/schemas/ContextWebSocketResponse"
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "101":
          description: Switching Protocols
  /api/v1/sandboxes/{id}/sessions:
    get:
      tags: [sessions]
      summary: List execution sessions
      description: Lists durable process-backed sessions in the sandbox.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Execution session list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExecutionSessionListResponse"
    post:
      tags: [sessions]
      summary: Create an execution session
      description: Creates a durable process-backed session. The client connection does not own the session lifecycle.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
          description: Optional key for retrying creation without creating a duplicate session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecutionSessionSpec"
      responses:
        "201":
          description: Execution session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExecutionSessionResponse"
        "200":
          description: Existing execution session returned for an idempotent retry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExecutionSessionResponse"
  /api/v1/sandboxes/{id}/sessions/{session_id}:
    get:
      tags: [sessions]
      summary: Get an execution session
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions/{session_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/SessionID"
      responses:
        "200":
          description: Execution session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExecutionSessionResponse"
    put:
      tags: [sessions]
      summary: Replace an execution session specification
      description: Replaces the specification. Changes to command, environment, I/O, or readiness create a new process attempt when the desired state is running.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions/{session_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/SessionID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecutionSessionSpec"
      responses:
        "200":
          description: Execution session updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExecutionSessionResponse"
    delete:
      tags: [sessions]
      summary: Delete an execution session
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions/{session_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/SessionID"
      responses:
        "200":
          description: Execution session deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxes/{id}/sessions/{session_id}/desired-state:
    put:
      tags: [sessions]
      summary: Set execution session desired state
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions/{session_id}/desired-state
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/SessionID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecutionSessionDesiredStateRequest"
      responses:
        "200":
          description: Desired state updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExecutionSessionResponse"
  /api/v1/sandboxes/{id}/sessions/{session_id}/attempts:
    post:
      tags: [sessions]
      summary: Create a new execution session attempt
      description: Starts a new process attempt. Set replace_current to stop and replace a running attempt.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions/{session_id}/attempts
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/SessionID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExecutionSessionAttemptRequest"
      responses:
        "201":
          description: Attempt created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExecutionSessionResponse"
  /api/v1/sandboxes/{id}/sessions/{session_id}/inputs:
    post:
      tags: [sessions]
      summary: Append execution session input
      description: Writes binary-safe input to the current attempt. Once an input receipt is recorded, retrying the same input_id and content is deduplicated. A transport failure before the receipt is durable can make delivery ambiguous, so consumers must tolerate replay.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions/{session_id}/inputs
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/SessionID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecutionSessionInputRequest"
      responses:
        "202":
          description: Input accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExecutionSessionInputResponse"
  /api/v1/sandboxes/{id}/sessions/{session_id}/signals:
    post:
      tags: [sessions]
      summary: Send a signal to an execution session attempt
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions/{session_id}/signals
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/SessionID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecutionSessionSignalRequest"
      responses:
        "202":
          description: Signal accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAcceptedResponse"
  /api/v1/sandboxes/{id}/sessions/{session_id}/terminal:
    put:
      tags: [sessions]
      summary: Resize an execution session terminal
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions/{session_id}/terminal
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/SessionID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecutionSessionTerminalResizeRequest"
      responses:
        "200":
          description: Terminal resized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResizedResponse"
  /api/v1/sandboxes/{id}/sessions/{session_id}/events:
    get:
      tags: [sessions]
      summary: List execution session events
      description: Returns retained events after the supplied sequence. Delivery is cursor-based and at least once.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions/{session_id}/events
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/SessionID"
        - name: after
          in: query
          required: false
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1000
      responses:
        "200":
          description: Execution session events
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExecutionSessionEventPageResponse"
        "410":
          description: The requested cursor is older than retained history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/sessions/{session_id}/events/stream:
    get:
      tags: [sessions]
      summary: Stream execution session events
      description: Streams retained and live events using SSE. Reconnect with Last-Event-ID or the after query parameter.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions/{session_id}/events/stream
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/SessionID"
        - name: after
          in: query
          required: false
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: Last-Event-ID
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Server-sent event stream
          content:
            text/event-stream:
              schema:
                type: string
  /api/v1/sandboxes/{id}/sessions/{session_id}/ws:
    get:
      tags: [sessions]
      summary: Attach to an execution session with WebSocket
      description: A WebSocket is an ephemeral attachment. Closing it does not stop the session or close process input.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sessions/{session_id}/ws
      x-websocket:
        inbound:
          $ref: "#/components/schemas/ExecutionSessionWebSocketRequest"
        outbound:
          $ref: "#/components/schemas/ExecutionSessionWebSocketResponse"
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/SessionID"
        - name: after
          in: query
          required: false
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        "101":
          description: Switching Protocols
  /api/v1/sandboxes/{id}/files/move:
    post:
      tags: [files]
      summary: Move a file or directory
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/move
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveFileRequest"
      responses:
        "200":
          description: Moved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMovedResponse"
  /api/v1/sandboxes/{id}/files/watch:
    get:
      tags: [files]
      summary: File watch WebSocket
      description: |
        Upgrades to WebSocket for file watch events.
        Client messages:
        - { "action": "subscribe", "path": "/tmp", "recursive": false }
        - { "action": "unsubscribe", "watch_id": "watch-id" }
        Server messages:
        - { "type": "subscribed", "watch_id": "watch-id", "path": "/tmp" }
        - { "type": "event", "watch_id": "watch-id", "event": "write", "path": "/tmp/a.txt" }
        - { "type": "unsubscribed", "watch_id": "watch-id" }
        - { "type": "error", "error": "message" }
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/watch
      x-websocket:
        inbound:
          $ref: "#/components/schemas/FileWatchRequest"
        outbound:
          $ref: "#/components/schemas/FileWatchResponse"
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "101":
          description: Switching Protocols
  /api/v1/sandboxes/{id}/files:
    get:
      tags: [files]
      summary: Read file content
      description: |
        Use query params:
        - path=/tmp/a.txt: target file path
        When `Accept` or `Content-Type` is `application/json`, returns a base64 JSON payload.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FileContentResponse"
    post:
      tags: [files]
      summary: Write file or create directory
      description: Use `path` query param and `mkdir=true` to create directories, otherwise writes file content.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
        - $ref: "#/components/parameters/QueryMkdir"
        - $ref: "#/components/parameters/QueryRecursive"
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File written
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessWrittenResponse"
        "201":
          description: Directory created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCreatedResponse"
    delete:
      tags: [files]
      summary: Delete file or directory
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxes/{id}/files/stat:
    get:
      tags: [files]
      summary: Stat a file
      description: |
        Use query params:
        - path=/tmp/a.txt: target file path
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/stat
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: File metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFileStatResponse"
  /api/v1/sandboxes/{id}/files/list:
    get:
      tags: [files]
      summary: List directory entries
      description: |
        Use query params:
        - path=/tmp: target directory path
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/list
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: Directory entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFileListResponse"
  /api/v1/templates:
    get:
      tags: [templates]
      summary: List templates
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates
      responses:
        "200":
          description: Templates list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateListResponse"
    post:
      tags: [templates]
      summary: Create template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateCreateRequest"
      responses:
        "201":
          description: Template created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
  /api/v1/templates/{id}:
    get:
      tags: [templates]
      summary: Get template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      responses:
        "200":
          description: Template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [templates]
      summary: Update template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateUpdateRequest"
      responses:
        "200":
          description: Template updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
    delete:
      tags: [templates]
      summary: Delete template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      responses:
        "200":
          description: Template deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
  /api/v1/registry/credentials:
    post:
      tags: [registry]
      summary: Get registry credentials for uploads
      security:
        - bearerAuth: []
      x-upstream-service: regional-gateway
      x-upstream-path: /api/v1/registry/credentials
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegistryCredentialsRequest"
      responses:
        "200":
          description: Registry credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegistryCredentialsResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/credential-sources:
    get:
      tags: [credential-sources]
      summary: List credential sources
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources
      responses:
        "200":
          description: Credential sources
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCredentialSourceListResponse"
    post:
      tags: [credential-sources]
      summary: Create credential source
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialSourceWriteRequest"
      responses:
        "201":
          description: Credential source created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCredentialSourceResponse"
        "409":
          description: Credential source already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/credential-sources/{name}:
    get:
      tags: [credential-sources]
      summary: Get credential source
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/credential-sources/{name}
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credential source
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCredentialSourceResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [credential-sources]
      summary: Update credential source
      description: Replace the secret material for an existing credential source. The resolver kind is immutable for a source name; create a new source when changing resolver kinds.
      security:
        - bearerAuth: []
[...]
